################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo_RCP.sln
/Demo_RCP.sln
